body{
    padding: 0;
    margin: 0;
    background-color: #87CEEB;
}
.car{
    background-color: red;
    height: 150px;
    width: 400px;
    border-radius: 50px;
    position: relative;
    margin: auto;
    left: 0;
    right: 0;
    top: 280px;
    bottom: 50px;
}
.road{
    background-color: rgb(42, 41, 41);
    height: 175px;
    width: 100%; 
    position: relative;
    margin: auto;
    top: 550px; 
    bottom: 50px; 
}
.car::before {
    content: "";
    position: relative; 
    display: block; 
    height: 5px;
    width: 80px;
    background-color: lightcoral;
    border-radius: 10px;
    top: 100px; 
    margin-bottom: -5px; 
}
