body{
    padding: 0;
    margin: 0;
    background-color:rgba(19, 43, 108, 0.655);
}
.cape{
    background-color: black;
    position: relative;
    height: 200px;
    width:100%;
    border-start-start-radius: 40%;
    border-start-end-radius: 40%;
    top: 600px;
    margin-left: auto;
    margin-right: auto;

}
.shoulder{
    background-color: black;
    position: relative;
    height: 150px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    top: 310px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.neck{
    background-color: black;
    position: relative;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.upperneck{
    background-color: black;
    position: relative;
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    top: -300px;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
}